#menu {
	text-align: center;
}

#logo-description {
	text-align: left;
}


#logo div {
	display: run-in;
	position: relative;
	float: right;
	margin-right: 1em;
}

.eemg-button { 
   outline: 0; 
   margin:0 0 0 0; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center;
   font-size: 1.3em;
   padding: 0em;
}

#button-hire {
	width: 100%;
	padding: 0em;
	padding-left: 0em;
	margin: 0;
	
}

#logo img {
	
}

#calltoaction
 {
	
}

#button-hire span.caps {
	margin-bottom: 0px;
}

.eemg-nobreak{
	position: static;
	display: inline;
	float: left;
}

blockquote.caps {
	clear: none;
	float: right;
}

body {
	background: #d6d6d6 url(img/bg-top-gradient.png) repeat-x;
}

#menu div.eemg-menubutton{
	text-align: center;
	border: 0.1em solid #cdc3b7;
	background-color: #f1eadd;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	padding:  0.5em;
	padding-bottom: 0em;
}

#statement {
	text-align: center;
	border: 1px solid #cdc3b7;
	background-color: #f1eadd;
	-moz-border-radius: 0em;
	-webkit-border-radius: 0em;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-top-left-radius: 1em;
	padding-bottom:  0em;
	padding: 0em;
	margin-left: 3em;
	margin-right: 0em;
	margin-bottom: 0em;
}

#statement h2 {
	margin-bottom: 0em;
}

div .bg-tinted-logo {
	z-index: 1;
	position: relative;
	display: inline;
}

.eemg-tinted-bg {
	background: url(./img/eemg-tinted.png) no-repeat 0 0;
}

#proof {
	margin: 0em;
	margin-left: 3em;
	padding: 0em;
}
